@import 'variables';
/*

* {
  outline: none;
}

a:focus,
a:hover,
input:focus,
input:hover {
  text-decoration: none;
  color: inherit;
}
*/


.order-btn {
  &.disabled {
    opacity: .5;
    cursor: not-allowed;

    &:hover {
      opacity: .5;
    }
  }

}


.ml-auto {
  margin-left: auto;
}


.navbar {
  .logo {
    background: linear-gradient(323.53deg, #188AAC 19.13%, #1AA6BD 76.62%), #1488AB;
    max-width: 200px;
    padding: 100px 20px 20px 20px;
    display: inline-block;
  }
}

.font-weight-600 {
  font-weight: 600;
}


.checkbox-lg .custom-control-label::before, 
.checkbox-lg .custom-control-label::after {
//  top: .8rem;
  width: 1.25rem;
  height: 1.25rem;
}

.checkbox-lg .custom-control-label {
  padding-top: 2px;
  padding-left: 6px;
  cursor: pointer;
}


.header-custom {
  min-height: calc(100vh - 180px);
}

body {
  @import 'MediaQueries/main';
  overflow-x: hidden;
}

