& {
  .nav {
    padding-left: 15px;

    .logo {
      padding: 44px 15px 6px;
    }
  }

  .head {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .h1-title {
    font-size: 24px;
  }

  .h2-title {
    font-size: 21px;
  }

  .register-banner {
    padding: 35px 20px;

    .label-content {
      margin-bottom: 20px;
    }
  }

  .checkbox-group {
    .label-content {
      margin-bottom: 0;
    }
  }
  .head-img {
    img {
        width: 100%;
    }
  }
}